= form_for @testimonial do |f|
  %div.profile-container

    %div.profile-navbar
      %div.pavatar
        - if @profile.avatar.attached?
          = image_tag url_for(@profile.avatar), alt: 'avatar', class: 'avatar'
        - else
          = image_tag 'https://www.manufacturingusa.com/sites/prod/files/default.png', alt: 'avatar', class: 'avatar'
      %div.puser
        %h4 #{@profile.fullname}
        - if @profile.fullname == (nil || "")
          %h4 #{@profile.user.email}
        %p #{@profile.role}
        - if @profile.role == (nil || "")
          %p Usuari@
      %div.plogo
        = link_to image_tag( 'logo_temp.svg'), root_path

    %div.profile-content

      %div.profile-description
        %div.miniheader.coffeev
          %div.go-back
            %a(href=profiles_reward_path) < Atrás
          %div.options-title
            %p ¿Cuántos cafés?

      %div.pform

        %div.minicard.flexc-r
          %div.flexc-c
            = image_tag 'coffee.svg', alt: 'coffee', height: '45px'
            %p.coffeemount #{@profile.coffee_price} #{@profile.monetary_symbol}
          = image_tag 'ico-x.svg', alt: 'X', height: '', width: '', class: 'x'
          %div.flexc-c
            %div.flexc-r.inline
              = f.radio_button :quantity, @profile.multiplier.a, :checked => true
              %p #{@profile.multiplier.a}
              = f.radio_button :quantity, @profile.multiplier.b
              %p #{@profile.multiplier.b}
              = f.radio_button :quantity, @profile.multiplier.c
              %p #{@profile.multiplier.c}
              = f.radio_button :quantity, @profile.multiplier.d
              %p #{@profile.multiplier.d}
            %p.coffeetotal Total: [javascript] #{@profile.monetary_symbol} 

        %div.minicard
          -if @profile.fullname == (nil || "")
            %h3 Datos de #{@name}
          -else
            %h3 Datos de #{@profile.fullname.split(" ")[0]}
            - index = 0
          - @profile.accounts.each do |i|
            - if index != 0 
              %div.miniseparator
            -if i.entity != (nil || "")
              %div.accountli
                %span.datatitle Entidad:
                %span.data #{i.entity}
            -if i.email != (nil || "")
              %div.accountli
                %span.datatitle Email:
                %span.data #{i.email}     
            -if i.account_number != (nil)
              %div.accountli
                %span.datatitle Nro de cuenta:
                %span.data #{i.account_number}
            -if i.rif_ci != (nil || "")
              %div.accountli
                %span.datatitle RIF o cédula:
                %span.data #{i.rif_ci}
            -if i.account_type != (nil || "")
              %div.accountli
                %span.datatitle Tipo de cuenta:
                %span.data #{i.account_type}
            - index += 1

        %div.minicard
          %h3 Tus datos
          %p.data.field Nombre
          = f.text_field :fullname
          %p.data.field Ocupación
          = f.text_field :role
          %p.data.field Mensaje de agradecimiento
          = f.text_field :message
          = f.hidden_field :appreciation, :value => true

    .actions
      -if @profile.fullname == (nil || "")
        = f.submit '¡Listo! Notificar a ' + @name, class: 'profile-footer'
      -else
        = f.submit '¡Listo! Notificar a ' + @profile.fullname.split(" ")[0], class: 'profile-footer'