%div.profile-container

  %div.profile-navbar
    %div.pavatar
      %p Avatar
    %div.puser
      %h4 #{@profile.fullname}
      %p #{@profile.role}
    %div.plogo
      = link_to image_tag( 'logo_temp.svg'), root_path

  %div.profile-content

    %div.profile-description
      -# %div.go-back
      -#   %a(href=my_profile_images_path) < Atrás
      = raw @profile.bio

    -if @profile.images.last != nil
      %div.bootstrap
        %div#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
          -# %ol.carousel-indicators
          -#   %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
          -#   %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
          -#   %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
          %div.carousel-inner
            - index = 0
            - @profile.images.each do |image|
              - if index == 0
                %div.carousel-item.active
                  %img.d-block.w-100.carousel-img.img{alt: "", src: "#{url_for(image.url)}"}/
                  %div.carousel-caption
                    %p #{image.description}
              - elsif image.show
                %div.carousel-item
                  %img.d-block.w-100.carousel-img.img{alt: "", src: "#{url_for(image.url)}"}/
                  %div.carousel-caption
                    %p #{image.description}
              - index += 1
          -# %a.carousel-control-prev{"data-slide" => "prev", href: "#carouselExampleIndicators", role: "button"}
          -#   %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          -#   %span.sr-only Previous
          -# %a.carousel-control-next{"data-slide" => "next", href: "#carouselExampleIndicators", role: "button"}
          -#   %span.carousel-control-next-icon{"aria-hidden" => "true"}
          -#   %span.sr-only Next
    -if @profile.testimonials.last != nil
      %div.bootstrap
        %div#myCarousel.carousel.slide{"data-ride" => "carousel"}
          -# %ol.carousel-indicators
          -#   %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          -#   %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          -#   %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
          %div.carousel-inner.row.w-100.mx-auto
            - index = 0
            - @profile.testimonials.each do |t|
              -puts "index = " + index.to_s
              -if index == 0
                %div.carousel-item.active
                  %div.pcard.minheight
                    %div.pcard-body
                      %div.pcard-header
                        %div.pcard-title
                          - if t.appreciation == true
                            = image_tag 'coffee.svg', alt: 'coffee'
                          - else
                            = image_tag 'hug.svg', alt: 'hug'
                        %div.pcard-title
                          - if t.fullname != nil
                            %p #{t.fullname}
                          - else
                            %p Anónimo
                          - if t.role != nil
                            %p.subtitle #{t.role}
                          - else
                            %p.subtitle Sin rol
                      - if t.message != nil
                        %p.pcard-text #{t.message}
                      - else
                        %div.centered
                          %p.pcard-text ¡Sigue adelante!
                        %div.centered
                          = image_tag 'ico-heart.svg', alt: 'icoheart', height: '52px'
              -else
                %div.carousel-item
                  %div.pcard.minheight
                    %div.pcard-body
                      %div.pcard-header
                        %div.pcard-title
                          - if t.appreciation == true
                            = image_tag 'coffee.svg', alt: 'coffee'
                          - else
                            = image_tag 'hug.svg', alt: 'hug'
                        %div.pcard-title
                          - if t.fullname != nil
                            %p #{t.fullname}
                          - else
                            %p Anónimo
                          - if t.role != nil
                            %p.subtitle #{t.role}
                          - else
                            %p.subtitle Sin rol
                      - if t.message != nil
                        %p.pcard-text #{t.message}
                      - else
                        %div.centered
                          %p.pcard-text ¡Sigue adelante!
                        %div.centered
                          = image_tag 'ico-heart.svg', alt: 'icoheart', height: '52px'
              - index += 1

  %a.profile-footer(href=profiles_reward_path) Dar abrazos o café a #{@name}
