%div.profile-container

  %div.profile-navbar
    %div.pavatar
      %p Avatar
    %div.puser
      %h4 #{@profile.fullname}
      %p #{@profile.role}
    %div.plogo
      = link_to image_tag( 'logo_temp.svg'), root_path

  %div.profile-content

    %div.profile-description
      -# %div.go-back
      -#   %a(href=my_profile_images_path) < Atrás
      %p Comunicarme mediante la música es la única forma de expresarme que conozco.
      %br/
      %p Vivir tocando es mi proposito, si te gusta lo que escuchas, tu aprecio es lo que me alimenta.

    %div.bootstrap
      %div#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
        -# %ol.carousel-indicators
        -#   %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
        -#   %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
        -#   %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
        %div.carousel-inner
          %div.carousel-item.active
            %img.d-block.w-100.carousel-img.img{alt: "First slide", src: "https://www.dike.lib.ia.us/images/sample-1.jpg/image"}/
            %div.carousel-caption
              %p Sample text
          %div.carousel-item
            %img.d-block.w-100.carousel-img.img{alt: "Second slide", src: "https://image.ibb.co/i3o45f/pic.png"}/
            %div.carousel-caption
              %p No hay lugar como el ahora
          %div.carousel-item
            %img.d-block.w-100.carousel-img.img{alt: "Third slide", src: "https://www.dike.lib.ia.us/images/sample-2.jpg/image"}
            %div.carousel-caption
              %p Sample text
        -# %a.carousel-control-prev{"data-slide" => "prev", href: "#carouselExampleIndicators", role: "button"}
        -#   %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        -#   %span.sr-only Previous
        -# %a.carousel-control-next{"data-slide" => "next", href: "#carouselExampleIndicators", role: "button"}
        -#   %span.carousel-control-next-icon{"aria-hidden" => "true"}
        -#   %span.sr-only Next

    %div.bootstrap
      %div#myCarousel.carousel.slide{"data-ride" => "carousel"}
        %div.carousel-inner.row.w-100.mx-auto
          %div.carousel-item.active
            %div.pcard
              %div.pcard-body
                %div.pcard-header
                  %div.pcard-title
                    %p Full name
                    %p.subtitle Role
                  %div.pcard-title
                    = image_tag 'coffee.svg', alt: 'coffees'
                %p.pcard-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          %div.carousel-item
            %div.pcard
              %div.pcard-body
                %div.pcard-header
                  %div.pcard-title
                    %p Full name
                    %p.subtitle Role
                  %div.pcard-title
                    = image_tag 'coffee.svg', alt: 'coffees'
                %p.pcard-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          %div.carousel-item
            %div.pcard
              %div.pcard-body
                %div.pcard-header
                  %div.pcard-title
                    %p Full name
                    %p.subtitle Role
                  %div.pcard-title
                    = image_tag 'coffee.svg', alt: 'coffees'
                %p.pcard-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
  %div.profile-footer
    %a(href="http://google.com") Dar abrazos o café a #{@name}
