%div.container 
  %div.content.col-s-12
    %div.footer
      %h3 Crear Cuenta
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      %hr.padding/
      .field
        = f.label :email
        - unless devise_error_messages! != ""
          %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      -# %hr.half/
      .field
        = f.label :password
        -# - if @minimum_password_length
          -# %em
          -#   (#{@minimum_password_length} characters minimum)
        - unless devise_error_messages! != ""
          %br/
        = f.password_field :password, autocomplete: "new-password"
      -# %hr.half/
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      = devise_error_messages!
      %hr.padding/  
      .actions
        = f.submit 'Registrar', :class => "button"
      %hr.padding/  
      
    %p.desc.black ¿Ya tienes una cuenta?
    %div.desc.black 
      =link_to "¡Inicia sesión!", new_session_path(resource_name)