%div.container
  %div.navbar.col-s-12.example
    %ul
      %li= image_tag('logo_temp.svg')
      -if user_signed_in?
        %li= link_to "Log out", destroy_user_session_path(user_session), method: :delete
      -else
        %li= link_to "Log in", new_user_session_path

  %div.content.col-s-12
    = image_tag 'coffees.svg'
    %hr.padding/
    %p Un café es un abrazo atrapado en una taza
    %hr.padding/
    %p.desc Recibe aprecio y gratitud
    %p.desc mediante donaciones online
    %hr.padding/
    %hr.padding/
    .btn= link_to "Crear mi perfil", new_user_registration_path
  %div.footer
    %p Un perfil dedicado a recibir agradecimientos
    -# %hr/
    %div.line-separator
    %p.desc.white Puedes crear una página en minutos sin conocimientos técnicos. Muestra tus datos y agradecimientos recibidos de otras personas.
    %p #{@message}
    %hr.padding/
    = image_tag "cellphones.png"