%div.admin-container
  %div.admin-navbar
    %div.logo
      = image_tag("logo_temp.svg", alt: "Logo")
    %div.bar
      %input.disabled
      %p #{@user_email}


  %div.admin-view

    %div.admin-sidebar
      %ul
        %li
          = link_to image_tag('ico-home.svg', alt: 'Icon'), profile_path
          = link_to "Home", profile_path
        %li
          = link_to image_tag('ico-profile.svg', alt: 'Icon'), my_profile_settings_path
          = link_to "Perfil", my_profile_settings_path
        %li
          = link_to image_tag('ico-images.svg', alt: 'Icon'), my_profile_images_path
          = link_to "Imágenes", my_profile_images_path
        %li.selected
          = link_to image_tag('ico-accounts.svg', alt: 'Icon'), my_profile_accounts_path
          = link_to "Cuentas", my_profile_accounts_path

    %div.admin-content

      %div.header
        %h1 Cuentas Bancarias
        %a.pinkbtn(href=new_account_path) Agregar
        %div.separator

      %div.info
        %div.card
          %div.card-header
            %div.section Cuentas
          %div.card-list
            %ul
              %li.lpadding Esto es una observación de la venta. Esto no es ninguna observación de ninguna venta.
              %div.options
                = image_tag 'ico-options.svg', alt: 'options', class: ''
                %div.options-content
                  %span 
                    Editar
                    = image_tag 'ico-edit', alt: 'e', height: '10px', width: '12px'
                  %span 
                    Eliminar
                    = image_tag 'ico-delete', alt: 'd'
            %ul
              %li.lpadding Esto es una observación de la venta. Esto no es ninguna observación de ninguna venta.
              %div.options
                = image_tag 'ico-options.svg', alt: 'options', class: ''
                %div.options-content
                  %span 
                    Editar
                    = image_tag 'ico-edit', alt: 'e', height: '10px', width: '12px'
                  %span 
                    Eliminar
                    = image_tag 'ico-delete', alt: 'd'
            %ul
              %li.lpadding Esto es una observación de la venta. Esto no es ninguna observación de ninguna venta.
              %div.options
                = image_tag 'ico-options.svg', alt: 'options', class: ''
                %div.options-content
                  %span 
                    Editar
                    = image_tag 'ico-edit', alt: 'e', height: '10px', width: '12px'
                  %span 
                    Eliminar
                    = image_tag 'ico-delete', alt: 'd'
            %ul
              %li.lpadding Esto es una observación de la venta. Esto no es ninguna observación de ninguna venta.
              %div.options
                = image_tag 'ico-options.svg', alt: 'options', class: ''
                %div.options-content
                  %span 
                    Editar
                    = image_tag 'ico-edit', alt: 'e', height: '10px', width: '12px'
                  %span 
                    Eliminar
                    = image_tag 'ico-delete', alt: 'd'

      %div.footer
        %div.separator
        -# %a.pinkbtn .pinkbtn
