%div.admin-container
  %div.admin-navbar
    %div.logo
      = image_tag("logo_temp.svg", alt: "Logo")
    %div.bar
      %input.disabled
      %p #{@user_email}


  -# Container de todo debajo del navbar. Usa flex-row.
  %div.admin-view

    -# El sidebar colocará automáticamente los estilos a su lista
    %div.admin-sidebar
      %ul
        -# La clase .selected le dará color rosa al ícono y al texto.
        %li.selected
          = link_to image_tag('ico-home.svg', alt: 'Icon'), profile_path
          = link_to "Home", profile_path
        %li
          = link_to image_tag('ico-profile.svg', alt: 'Icon'), my_profile_settings_path
          = link_to "Perfil", my_profile_settings_path
        %li   
          = link_to image_tag('ico-images.svg', alt: 'Icon'), my_profile_images_path
          = link_to "Imágenes", my_profile_images_path
        %li
          = link_to image_tag('ico-accounts.svg', alt: 'Icon'), my_profile_accounts_path
          = link_to "Cuentas", my_profile_accounts_path

    -# Centro de la Vista --------------------------------------------------------------
    %div.admin-content        
      = form_for @my_profile do |f|
        -# Header con el título.
        %div.header       
          -# Estas dos líneas al inicio del header generarán un botón de retorno.
          -# = link_to image_tag('ico-return.svg', alt: 'Icon'), profile_path
          -# %a.returnbtn(href=profile_path) .returnbtn
          -# El título tiene estilos automáticos gracias a la clase .header
          %h1 ¡Hola, #{@user}! Bienvenid@ a Abrazos y Café
          %div.separator

        %div.info
          %div.card
            %div.card-body
              %h5.card-title Acerca de
              %p.card-text Abrazos y Café es una aplicación que te ayudará a crear una página sin necesidad de conocimientos técnios, donde la gente podrá apoyarte y hacer donaciones.
        %div.info
          %div.card
            %div.card-body
              %h5.card-title Perfil
              %p.card-text En tu perfil puedes ingresar tus datos básicos, como tu nombre, biografía, monto del café, etc.
              %div.card-img
                = image_tag 'ico-profile', alt: '', height: '75px', width: '', class: ''
          %div.card
            %div.card-body
              %h5.card-title Imágenes
              %p.card-text En la sección de imágenes podrás guardar estas que querrás mostrar en el carrusel de tu perfil.
              %div.card-img
                = image_tag 'ico-images', alt: '', height: '75px', width: '', class: ''
          %div.card
            %div.card-body
              %h5.card-title Cuentas
              %p.card-text Sincroniza tus cuentas bancarias a tu perfil para recibir las donaciones de tus seguidores.
              %div.card-img
                = image_tag 'ico-accounts', alt: '', height: '75px', width: '', class: ''
      %div.separator
        %div.info
          %div.card.transparent
            %div.card-body
              %h5.card-title Recuerda:
              %p.card-text Mantén tu información y tus imágenes concisas, de tal modo que los donadores tengan un acceso fácil.
        -#   -# Si es necesario, se puede poner un botón rosa al lado derecho del header.
        -#   %a.pinkbtn .pinkbtn
        -#   -# Se puede poner un div.separator para generar una pequeña línea horizontal.
        -#   %div.separator

        -# -# Contenido central. Automáticamente colocará elementos en flex-row
        -# %div.info
        -#   -# Card Izquierdo. La clase card colocará su contenido en flex-column
        -#   %div.card
        -#     -# Div para controlar una sección aninada. Se forza un flex-row
        -#     %div.nested-section
        -#       -# Contenido 1 del card
        -#       %div.card-body
        -#         %h5.card-title Nombre y Apellido
        -#         = f.text_field :fullname, placeholder: "fullname"
        -#       -# Contenido 2 del card
        -#       %div.card-body
        -#         %h5.card-title Ocupación o Rol
        -#         = f.text_field :role, placeholder: "role"
        -#     -# Ahora el contenido estará fuera del .nested-section, así usando flex-column
        -#     -# Contenido 3 del card
        -#     %div.card-body
        -#       %h5.card-title Biografía
        -#       = f.text_area :bio, placeholder: "bio"

        -#   -# Card derecho
        -#   %div.card
        -#     -# Contenido 1
        -#     %div.card-body
        -#       %h5.card-title Monto de un café
        -#       = f.text_field :coffee_price, placeholder: "coffee_price", step: "any"
        -#     %div.card-body
        -#       %h5.card-title Símbolo de la moneda
        -#       = f.text_field :monetary_symbol, placeholder: "monetary_symbol"
        -#     -# Contenido 2
        -#     %div.card-body
        -#       %h5.card-title .nested-section.of-multipliers
        -#       -# Agregar este div generará una sección de botones en fila  estilizados.
        -#       %div.nested-section.of-multipliers
        -#         = f.fields_for :multiplier do |fm|
        -#           = fm.number_field :a 
        -#           = fm.number_field :b 
        -#           = fm.number_field :c 
        -#           = fm.number_field :d 
        -# -# Usando otro div con la clase .info creará un nuevo row de cards!
        -# %div.info
        -#   -# Ponerle la clase .transparent a un card adaptará esta para hacer descripciones.
        -#   %div.card.transparent
        -#     %div.card-body
        -#       %h5.card-title Este card usa la clase .transparent
        -#       %p.card-text Ahora se pueden hacer descripciones geniales. Tres tristes tigres comían trigo en un trigal.
        -#   -# Otros cards de muestra.
        -#   %div.card
        -#     %div.card-body
        -#       %h5.card-title .card-title
        -#       %p.card-text .card-text
        -#       %input
        -#       %div.checkbox
        -#         %input(type="checkbox")
        -#         %p div.checkbox
        -#   %div.card
        -#     %div.card-body
        -#       %h5.card-title .card-title
        -#       %p.card-text .card-text
        -#       %input
        -#       %div.checkbox
        -#         %input(type="checkbox")
        -#         %p div.checkbox
        -#       %div.checkbox
        -#         %input(type="checkbox")
        -#         %p div.checkbox
        -# -# -------------------------------------------------------------------------

        -# %div.footer
        -#   %div.separator
        -#   .actions
        -#     = f.submit 'Guardar', :class => "pinkbtn"
        -#   %p.notice Esta vista aún está siendo usada para probar cosas.

-# - if flash.notice
-#   %div.notice-error
-#     %ul
-#       %li #{flash.notice}
