%div.admin-container
  %div.admin-navbar
    %div.logo
      = link_to image_tag('logo_temp.svg', alt: 'Logo'), root_path
    %div.bar
      %input.disabled
      %p #{@user_email}


  %div.admin-view

    %div.admin-sidebar
      %ul
        %li
          = link_to image_tag('ico-home.svg', alt: 'Icon'), profile_path
          = link_to "Home", profile_path
        %li
          = link_to image_tag('ico-profile.svg', alt: 'Icon'), my_profile_settings_path
          = link_to "Perfil", my_profile_settings_path
        %li.selected
          = link_to image_tag('ico-images.svg', alt: 'Icon'), my_profile_images_path
          = link_to "Imágenes", my_profile_images_path
        %li
          = link_to image_tag('ico-accounts.svg', alt: 'Icon'), my_profile_accounts_path
          = link_to "Cuentas", my_profile_accounts_path

    %div.admin-content
      - if flash.notice && flash.notice != "¡Hola <Usuario>! Bienvenido a Abrazos y Café"
        %div.alert-admin
          %ul
            %li #{flash.notice} 

      %div.header
        %h1 Carousel de Imágenes
        %a.pinkbtn(href=my_profile_new_image_path) Agregar
        %div.separator
      
      %div.info
        %div.card.bmargin
          %div.card-header
            %div.section Imágenes
          %div.card-list
            - unless @my_profile.images.last
              %ul
                %li.lpadding.nothingfound No tienes ninguna imagen en tu perfil. ¡Agregar una!
            - @images.each do |i|
              %ul
                %div.options.fixpos
                  = image_tag 'ico-options.svg', alt: 'options', class: ''
                  %div.options-content
                    = link_to edit_images_path(i) do
                      -# = link_to "" do
                      %span 
                      Editar
                      = image_tag 'ico-edit', alt: 'e', height: '10px', width: '12px'
                    = link_to images_path(i.id), method: :delete, data: { confirm: 'Are you sure?' } do
                      %span
                      Eliminar
                      = image_tag 'ico-delete', alt: 'd'
                .img=image_tag url_for(i.url)
                %li #{i.description}
                -if i.show == true
                  %p.show *
                -else
                  %p *
      
      %div.footer
        %div.separator
        -# %a.pinkbtn .pinkbtn

