%div.admin-container
  %div.admin-navbar
    %div.logo
      = image_tag("logo_temp.svg", alt: "Logo")
    %div.bar
      %input.disabled
      %p #{@user_email}


  -# Container de todo debajo del navbar. Usa flex-row.
  %div.admin-view

    -# El sidebar colocará automáticamente los estilos a su lista
    %div.admin-sidebar
      %ul
        -# La clase .selected le dará color rosa al ícono y al texto.
        %li.selected
          = link_to image_tag('ico-home.svg', alt: 'Icon'), my_profile_path
          = link_to "Home", my_profile_path
        %li
          = link_to image_tag('ico-profile.svg', alt: 'Icon'), my_profile_settings_path
          = link_to "Perfil", my_profile_settings_path
        %li 
          = link_to image_tag('ico-images.svg', alt: 'Icon'), my_profile_images_path
          = link_to "Imágenes", my_profile_images_path
        %li
          = link_to image_tag('ico-accounts.svg', alt: 'Icon'), my_profile_accounts_path
          = link_to "Cuentas", my_profile_accounts_path

    -# Centro de la Vista --------------------------------------------------------------
    %div.admin-content

      -# Header con el título.
      %div.header
        -# Estas dos líneas al inicio del header generarán un botón de retorno.
        = link_to image_tag('ico-return.svg', alt: 'Icon'), my_profile_path
        %a.returnbtn(href=my_profile_path) Regresar a la vista anterior
        -# El título tiene estilos automáticos gracias a la clase .header
        %h1 ¡Bienvenid@, #{@user}!
        -# Si es necesario, se puede poner un botón rosa al lado derecho del header.
        %a.pinkbtn .pinkbtn
        -# Se puede poner un div.separator para generar una pequeña línea horizontal.
        %div.separator

      -# Contenido central. Automáticamente colocará elementos en flex-row
      %div.info
        -# Card Izquierdo. La clase card colocará su contenido en flex-column
        %div.card
          -# Div para controlar una sección aninada. Se forza un flex-row
          %div.nested-section
            -# Contenido 1 del card
            %div.card-body
              %h5.card-title .card-title
              %p.card-text .card-text
              %input
            -# Contenido 2 del card
            %div.card-body
              %h5.card-title .card-title
              %p.card-text .card-text
              %input
          -# Ahora el contenido estará fuera del .nested-section, así usando flex-column
          -# Contenido 3 del card
          %div.card-body
            %h5.card-title .card-title
            %p.card-text .card-text
            %input

        -# Card derecho
        %div.card
          -# Contenido 1
          %div.card-body
            %h5.card-title .card-title
            %p.card-text .card-text
            %input
          -# Contenido 2
          %div.card-body
            %h5.card-title .card-title
            %p.card-text .card-text
            %input

      -# Usando otro div con la clase .info creará un nuevo row de cards!
      %div.info
        -# Ponerle la clase .transparent a un card adaptará esta para hacer descripciones.
        %div.card.transparent
          %div.card-body
            %h5.card-title Este card usa la clase .transparent
            %p.card-text Ahora se pueden hacer descripciones geniales.
            %p.card-text Tres tristes tigres comían trigo en un trigal.
        -# Otros cards de muestra.
        %div.card
          %div.card-body
            %h5.card-title .card-title
            %p.card-text .card-text
            %input
        %div.card
          %div.card-body
            %h5.card-title .card-title
            %p.card-text .card-text
            %input
      -# -------------------------------------------------------------------------

      %div.footer
        %div.separator
        %a.pinkbtn .pinkbtn

- if flash.notice
  %div.notice-error
    %ul
      %li #{flash.notice}