%div.admin-container
  %div.admin-navbar
    %div.logo
      = image_tag("logo_temp.svg", alt: "Logo")
    %div.bar
      %input.disabled
      %p #{@user_email}


  %div.admin-view

    %div.admin-sidebar
      %ul
        %li
          = link_to image_tag('ico-home.svg', alt: 'Icon'), profile_path
          = link_to "Home", profile_path
        %li.selected
          = link_to image_tag('ico-profile.svg', alt: 'Icon'), my_profile_settings_path
          = link_to "Perfil", my_profile_settings_path
        %li   
          = link_to image_tag('ico-images.svg', alt: 'Icon'), my_profile_images_path
          = link_to "Imágenes", my_profile_images_path
        %li
          = link_to image_tag('ico-accounts.svg', alt: 'Icon'), my_profile_accounts_path
          = link_to "Cuentas", my_profile_accounts_path

    %div.admin-content
      = form_for(@my_profile, method: :patch) do |f|
        - if flash.notice != "¡Hola <Usuario>! Bienvenido a Abrazos y Café"
          %div.alert-notice
            %ul
              %li #{flash.notice}        
    
        %div.header
          %h1 Perfil de Usuario
          %div.separator

        %div.info
          %div.card
            %div.nested-section
              %div.card-body
                %h5.card-title Nombre y Apellido
                = f.text_field :fullname, placeholder: "fullname"
              %div.card-body
                %h5.card-title Ocupación o Rol
                = f.text_field :role, placeholder: "role"
            %div.card-body
              %h5.card-title Biografía
              = f.text_area :bio, placeholder: "bio"

          %div.card
            %div.card-body
              %h5.card-title Monto de un café
              = f.text_field :coffee_price, placeholder: "coffee_price", step: "any"
            %div.card-body
              %h5.card-title Símbolo de la moneda
              = f.text_field :monetary_symbol, placeholder: "monetary_symbol"
            %div.card-body
              %h5.card-title Multiplicadores
              -# =#%p.card-text (a, b, c, d)
              %div.nested-section.of-multipliers
                = f.fields_for :multiplier do |fm|
                  = fm.number_field :a, min: "1", max: "99", maxlength: "2", required: true
                  = fm.number_field :b, min: "1", max: "99", maxlength: "2", required: true
                  = fm.number_field :c, min: "1", max: "99", maxlength: "2", required: true
                  = fm.number_field :d, min: "1", max: "99", maxlength: "2", required: true
        %div.footer
          %div.separator
          .actions
            = f.submit 'Guardar', :class => "pinkbtn"