%div.admin-container
  %div.admin-navbar
    %div.logo
      = image_tag("logo_temp.svg", alt: "Logo")
    %div.bar
      %input.disabled
      %p #{@user_email}


  %div.admin-view

    %div.admin-sidebar
      %ul
        %li
          = link_to image_tag('ico-home.svg', alt: 'Icon'), my_profile_path
          = link_to "Home", my_profile_path
        %li.selected
          = link_to image_tag('ico-profile.svg', alt: 'Icon'), my_profile_settings_path
          = link_to "Perfil", my_profile_settings_path
        %li   
          = link_to image_tag('ico-images.svg', alt: 'Icon'), my_profile_images_path
          = link_to "Imágenes", my_profile_images_path
        %li
          = link_to image_tag('ico-accounts.svg', alt: 'Icon'), my_profile_accounts_path
          = link_to "Cuentas", my_profile_accounts_path

    %div.admin-content

      %div.header
        %h1 Perfil de Usuario
        %div.separator

      %div.info
        %div.card
          %div.nested-section
            %div.card-body
              %h5.card-title Nombre y Apellido
              %input{placeholder: "fullname"}
            %div.card-body
              %h5.card-title Ocupación o Rol
              %input{placeholder: "role"}
          %div.card-body
            %h5.card-title Biografía
            %input{placeholder: "bio"}

        %div.card
          %div.card-body
            %h5.card-title Monto de un café
            %input{placeholder: "coffee_price"}
          %div.card-body
            %h5.card-title Símbolo de la moneda
            %input{placeholder: "monetary_symbol"}
          %div.card-body
            %h5.card-title Multiplicadores
            %p.card-text (a, b, c, d)
            %div.nested-section.of-multipliers
              %input{value: 1, type: "number", min: "1", max: "99", maxlength: "2", required: true}
              %input{value: 2, type: "number", min: "1", max: "99", maxlength: "2", required: true}
              %input{value: 3, type: "number", min: "1", max: "99", maxlength: "2", required: true}
              %input{value: 5, type: "number", min: "1", max: "99", maxlength: "2", required: true}

      %div.footer
        %div.separator
        %a.pinkbtn Guardar