%div.admin-container
  %div.admin-navbar
    %div.logo
      = link_to image_tag('logo_temp.svg', alt: 'Logo'), root_path
    %div.bar
      %input.disabled{disabled: true}
      - if @profile.fullname == (nil || "")
        %p.name #{@profile.user.email}
      - else
        %p.name #{@profile.fullname}
      %div.pavatar
        - if @profile.avatar.attached?
          = image_tag url_for(@profile.avatar), alt: 'avatar', class: 'my_profile_avatar'
        - else
          = image_tag 'ico-blankuser.png', alt: 'avatar', class: 'my_profile_avatar'


  %div.admin-view

    %div.admin-sidebar
      %ul
        %li
          = link_to image_tag('ico-home.svg', alt: 'Icon'), profile_path
          = link_to "Home", profile_path
        %li
          = link_to image_tag('ico-profile.svg', alt: 'Icon'), my_profile_settings_path
          = link_to "Perfil", my_profile_settings_path
        %li
          = link_to image_tag('ico-images.svg', alt: 'Icon'), my_profile_images_path
          = link_to "Imágenes", my_profile_images_path
        %li
          = link_to image_tag('ico-accounts.svg', alt: 'Icon'), my_profile_accounts_path
          = link_to "Cuentas", my_profile_accounts_path
        %li
          = link_to image_tag('ico-photo.svg', alt: 'Icon'), my_profile_photo_path
          = link_to "Foto de Perfil", my_profile_photo_path
        %li.selected
          = link_to image_tag('ico-testimonial.svg', alt: 'Icon'), my_profile_testimonials_path
          = link_to "Testimoniales", my_profile_testimonials_path
        %li#link
          = image_tag('ico-link.svg', alt: 'Icon')
          = link_to "Generar Link", ""

    %div.admin-content
      %div.header
        %h1 Testimoniales
        %div.separator

      %div.info
        %div.card.bmargin
          %div.card-header
            %div.section Testimoniales
          %div.card-list
            - unless @my_profile.testimonials.last
              %ul
                %li.lpadding.nothingfound No tienes ningún testimonial vinculada a tu cuenta. ¡Hazle llegar tu voz a las personas!
            - @my_profile.testimonials.each do |testimonial|
              %ul
                %li.lpadding 
                  %span
                    %b Nombre:
                  -if testimonial.fullname != (nil || "")
                    %span= testimonial.fullname
                  -else
                    %span Anónimo
                  %br/
                  %span
                    %b Rol:
                    -if testimonial.role != (nil || "")
                      %span= testimonial.role
                    -else
                      %span Sin Rol
                    %br/
                  %span
                    %b Mensaje:
                    -if testimonial.message != (nil || "")
                      %span= testimonial.message
                    -else
                      %span Sin Mensaje
                    %br/

                %div.options
                  = image_tag 'ico-options.svg', alt: 'options', class: ''
                  %div.options-content
                    -# = link_to testimonials_path(testimonial), method: :patch do
                    -#   %span 
                    -#   Editar
                    -#   = image_tag 'ico-edit', alt: 'e', height: '10px', width: '12px'
                    = link_to testimonials_path(testimonial), method: :delete, data: { confirm: 'Are you sure?' } do
                      %span
                      Eliminar
                      = image_tag 'ico-delete', alt: 'd'
            

      %div.footer
        %div.separator
        -# %a.pinkbtn .pinkbtn

:javascript
  document.addEventListener('turbolinks:load',function () {
    document.getElementById("link").onclick = function() {
      alert("¡Copia el siguiente link y compártelo!\n\nhttp://localhost:3000/profiles/#{@my_profile.id}")
    }
  })