= form_for @hug do |t|
  %div.profile-container

    %div.profile-navbar
      %div.pavatar
        %p Avatar
      %div.puser
        %h4 #{@profile.fullname}
        %p #{@profile.role}
      %div.plogo
        = link_to image_tag( 'logo_temp.svg'), root_path
    %div#form1
      %div.profile-content
        %p <Atras 
        %div
          %div#pressed{onmousedown: "cargar()", onmouseup: 'detener()'}
            #contenedor
              = image_tag("hug.svg", alt: "hugs")
            %div#myProgress
            %div#myBar 0%
      .half   
        %div#hugMessage
          Abrazo de 0.00 segundos
      .half 
        %p Mientras mas tiempo lo presiones mayor sera el abrazo

      .half  
      %div.profile-footer
        %button{onClick: "cargar()"} 
          siguiente
    %div#form2
      %p <Atras    
      %p Enviando un abrazo de 0.0 %seg

      %div.card-body
        %h5.card-title Nombre
        = t.text_field :fullname , placeholder: "Ejemplo: Jose De Arimatea" 
      %div.card-body
        %h5.card-title Rol
        = t.text_field :role , placeholder: "Ejemplo: Carpintero" 
      %div.card-body
        %h5.card-title Mensaje
        = t.text_field :message , placeholder: "Ejemplo: Tu trabajo es excelente!!!" 
      %div.card-body
        %h5.card-title quantity
        = t.text_field :quantity, class: "seconds"   

    %div.profile-footer
      .actions
        = t.submit 'Listo! Notificar a ###Usuario-feo##'
