%div.profile-container
  %div.profile-navbar
    %div.pavatar
      - if @profile.avatar.attached?
        = image_tag url_for(@profile.avatar), alt: 'avatar', class: 'avatar'
      - else
        = image_tag 'ico-blankuser.png', alt: 'avatar', class: 'avatar'
    %div.puser
      %h4 #{@profile.fullname}
      - if @profile.fullname == (nil || "")
        %h4 #{@profile.user.email}
      %p #{@profile.role}
      - if @profile.role == (nil || "")
        %p Usuari@
    %div.plogo
      = link_to image_tag( 'logo_temp.svg'), root_path
  %div#form1
    %div.profile-content
      %div.miniheader.hugv
        %div.go-back
          %a(href=profiles_reward_path) < Atrás
        %div.options-title
          %p Presiona el botón para abrazar
      %div#hugBtn
        %div#pressed{onmousedown: "cargar()", onmouseup: 'detener()'}
          #contenedor
            %div#transparent
            = image_tag("hug.svg", alt: "hugs")
          %div#myProgress
          %div#myBar
      .half   
        %div#hugMessage
          Abrazo de 0.00 segundos
      .half
        %p#hugDesc Mientras más tiempo lo presiones, mayor será el abrazo.

      .half  
      %div.profile-footer{onclick: "ocultar()"} 
        Siguiente
  %div#form2(hidden="")
    = form_for @hug do |t|
      %div.profile-content
        %div.miniheader
          %div.go-back
            %a{onclick: "regresar()"} < Atrás
          %div.options-title
            %p#hugMessage2 Enviando un abrazo de 0.0 seg.
        %div.pform.forhugs
          %div.minicard
            %h3 Tus datos
            %p.data.field Nombre
            = t.text_field :fullname
            %p.data.field Ocupación
            = t.text_field :role
            %p.data.field Mensaje de agradecimiento
            #message= t.text_field :message
            = t.hidden_field :quantity, value: 0, id: "seconds"
            = t.hidden_field :appreciation, :value => false
      .actions
        -if @profile.fullname == (nil || "")
          = t.submit '¡Listo! Notificar a ' + @name, class: 'profile-footer'
        -else
          = t.submit '¡Listo! Notificar a ' + @profile.fullname.split(" ")[0], class: 'profile-footer'
