%div.admin-container
  %div.admin-navbar
    %div.logo
      = image_tag("logo_temp.svg", alt: "Logo")
    %div.bar
      %input.disabled
      %p #{@user_email}


  %div.admin-view

    %div.admin-sidebar
      %ul
        %li
          = link_to image_tag('ico-home.svg', alt: 'Icon'), profile_path
          = link_to "Home", profile_path
        %li
          = link_to image_tag('ico-profile.svg', alt: 'Icon'), my_profile_settings_path
          = link_to "Perfil", my_profile_settings_path
        %li.selected
          = link_to image_tag('ico-images.svg', alt: 'Icon'), my_profile_images_path
          = link_to "Imágenes", my_profile_images_path
        %li
          = link_to image_tag('ico-accounts.svg', alt: 'Icon'), my_profile_accounts_path
          = link_to "Cuentas", my_profile_accounts_path

    %div.admin-content

      %div.header
        = link_to image_tag('ico-return.svg', alt: 'Icon'), my_profile_images_path
        %a.returnbtn(href=my_profile_images_path) Listado de imágenes
        %h1 Editar imagen
        %div.separator

      = form_for @image, url: "" do |f|
        %div.info
          %div.card.transparent
            %div.card-body
              %h5.card-title Imagen del carousel
              %p.card-text Editar imagen que se mostrará en el carousel del perfil público
          %div.card
            %div.card-body
              %div.card-title Imagen principal
<<<<<<< HEAD
              = f.file_field :url, required: true
  
=======
              -# %p.card-text url
              = image_tag url_for(@image.url), alt: 'imagen', height: '350px', width: 'auto'
>>>>>>> 3003eb131a47c5799cb52604f6630b9cb4b3294a
        %div.info
          %div.card.transparent
            %div.card-body
              %h5.card-title Datos de la imagen
              %p.card-text Parámetro de publicación y leyenda de la imagen a mostrarse en el carousel
          %div.card
            %div.card-body
              %h5.card-title Subtítulo
              = f.text_field :description , placeholder: "description"
              %div.checkbox
                = f.check_box :show, {}, 1, 0
                %p Mostrar esta imagen en el perfil público
         
        %div.footer
          .actions
            = f.submit 'Guardar', :class => "pinkbtn"
          %div.separator